<h1><%= t '.title' %></h1>
<h3><%= t '.title_message' %></h3>

<%= link_to Promotion.model_name.human(count: 2).capitalize , promotions_path %>
<br>
<br>
<%= link_to ProductCategory.model_name.human(count: 2).capitalize , product_categories_path %>
